body {
	margin: 0;
	padding: 0;
}

.left-container {
	position: fixed;
	width: 400px;
	height: 100vh;
	background-color: #7098FA;
}
.foto {
	width: 50%;
	border-radius: 20%;
}
.photo-contact {
	position: absolute;
	top: 100px;
	text-align: center;
}
.button {
	width: 50%;
	background-color: white;
	border-radius: 12px;
	margin-bottom: 14px;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 10px;
}

.button:hover {
	color: white;
	background-color: black;
	transition: 0.5s;
}